{% block pageTopBar %}
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" rel="home" href="{{ path('backoffice') }}" title="Le Fruit, le Béret, la Cocarde">
					Panel administrateur
				</a>
				<a class="navbar-brand" href="#">
                   <img class="navBarLogo" src="/pics/LogoC.png" alt="">
                </a>
				<a class="navbar-brand"  href="{{ path('gestUsers') }}"> Gestion utilisateurs

				</a>
				<a class="navbar-brand"  href="{{ path('gestProds') }}"> Gestion produits

				</a>
				<a class="navbar-brand"  href="{{ path('gestComm') }}"> Gestion commandes

				</a>
			</div>
			<div>
				<ul class="nav navbar-nav navbar-right">
                        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Bienvenue, {{ app.user.username }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                        			{% if is_granted('ROLE_ADMIN') %}	
                        			<li><a href="{{ path('home') }}"><span class="glyphicon glyphicon-cog"></span> Accueil</a></li>
                        			{% endif %}
                                    <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Erreur <b class="caret"></b></a>
                            </li>
                        {% endif %}
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}